*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	/*background:linear-gradient(45deg, powderblue, pink, powderblue);*/
	background:rgb(51, 51, 51);
	background-repeat: no-repeat;
	
}

/* HEADER */
header .container{
	width: 100%;
	background: black;
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	border-radius: 0px 0px 15px 15px;
}

header .container p{
	color: white;
	font-size: calc(12px + (20 - 12) * ((100vw - 500px) / (1920 - 500)));
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
}

header .container a{
	text-decoration: none;
	color: white;
}

header .container img{
	height: calc(20px + (80 - 20) * ((100vw - 500px) / (1920 - 500)));
	width: auto;
	min-height: 30px;
	min-width: 45px;
}

header .btns{
	display: flex;
	justify-content: column;
	align-items: center;
}

header .logo{
	display: flex;
	align-items: center;
}

header .btn{
	border: 1px solid white;
	border-radius: 6px;
	padding: 5px 8px;
	display: flex;
	justify-content: center;
	background: black;
}

header a:hover .btn{
	background: white;
	transition: 0.7s;
}

header a:hover p{
	color: black;
	font-family: 'Roboto', sans-serif;
	transition: 0.7s;
}

header .btns a{
	margin-right: 15px;
}

header .left{
	display: flex;
	justify-content: column;
}

header .logo{
	margin-right: 30px;
}

header .right{
	display: flex;
	align-items: center;
}

/*FOOTER*/
footer .container{
	height: 170px;
	width: 100%;
	background: black;
	border-radius: 15px 15px 0px 0px;
	padding: 20px 25px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer .logo p{	
	color: white;
	font-size: calc(14px + (20 - 14) * ((100vw - 500px) / (1920 - 500)));
	font-family: sans-serif;
	
	display: block;
	align-items: center;
	text-align:center;
}

footer .container img{
	height: calc(40px + (80 - 40) * ((100vw - 500px) / (1920 - 500)));
	width: auto;
	min-height: 40px;
	min-width: 60px;
	margin-right: 10px;
}

footer .btn{
	border: 1px solid white;
	border-radius: 6px;
	padding: 5px 8px;
	display: flex;
	background: black;
}

footer .center a{
	text-decoration: none;
}

footer .center p{
	color: white;
	font-size: calc(10px + (24 - 10) * ((100vw - 500px) / (1920 - 500)));
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
}

footer .center div{
	display: flex; 
	flex-direction: row;
	margin-bottom: 10px;
}

footer .center{
	padding-top: 20px;
	display: flex; 
	flex-direction: column;
	justify-content: flex-end;
}

footer .center a{
	margin-right: calc(10px + (24 - 10) * ((100vw - 500px) / (1920 - 500)));
}

footer .btns2{
	display: block;
    justify-content: center;
}

footer a:hover .btn{
	background: white;
	transition: 0.7s;
}

footer a:hover p{
	color: black;
	transition: 0.7s;
}

footer .right div{
	display: flex; 
	flex-direction: row;
	margin-bottom: 10px;
}

footer .right{
	display: flex; 
	flex-direction: column;
	justify-content: flex-end;
}

footer .right img{
	height: calc(30px + (40 - 30) * ((100vw - 500px) / (1920 - 500)));
	width: auto;
	min-height: 30px;
	min-width: 30px;
	border: 1px solid black;
	border-radius: 10px;
}

footer .right img:hover{
	border: 1px solid white;
	transition: 0.7s;
}


/*CONTENT*/
content .container{
	height: auto;
	margin: 50px 100px;
	padding: 50px 40px;
	background: powderblue;
	border-radius: 20px;
	display: flex;
	justify-content: space-around;
}


/*Работает2*/
content .news{
	height: calc(300px + (400 - 300) * ((100vw - 500px) / (1920 - 500)));
	width: auto;

	background: rgba(255, 255, 255, 1);
	border-radius: 10px;

	padding: 10px calc(5px + (20 - 5) * ((100vw - 500px) / (1920 - 500)));
	
	display: flex;
	justify-content: center;
	box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.1);
}

content .container li:hover{
	box-shadow: 0px 6px 60px rgba(0, 0, 0, 0.4);
		
}

content .container li:hover .line{
	background: red;
	transition: 0.7s;
}

content .container li:hover .line2{
	background: red;
	transition: 1s;
}


content .cell{
	height: auto;
	width: calc(80px + (400 - 80) * ((100vw - 500px) / (1920 - 500)));
	border-radius: 10px;
	
	padding: calc(0px + (10 - 0) * ((100vw - 500px) / (1920 - 500))) 0px;
	
	display: flex;
	align-items: center;
	flex-direction: column;
}

content .news img{
	height: calc(40px + (200 - 40) * ((100vw - 500px) / (1920 - 500)));
	width:  calc(80px + (400 - 80) * ((100vw - 500px) / (1920 - 500)));	
	border-radius: 10px;	
}

content .line{
	height: 2px;
	width: calc(80px + (250 - 80) * ((100vw - 500px) / (1920 - 500)));	
	background: yellow;
	border-radius: 20px;
	margin:10px 0px;
}

content .line2{
	height: 2px;
	width:  calc(80px + (300 - 80) * ((100vw - 500px) / (1920 - 500)));	
	background: yellow;
	border-radius: 20px;
	margin:10px 0px;
}


content .text_head{
	font-size: calc(8px + (24 - 8) * ((100vw - 500px) / (1920 - 500)));
	font-family: 'Alkatra';
	color: black;
	white-space: normal;
	text-align: center;
}

content .text{
	font-size: calc(8px + (16 - 8) * ((100vw - 500px) / (1920 - 500)));
	font-family: 'Roboto';
	color: rgba(0, 0, 0, 0.76);
	white-space: normal;
	text-align: justify;
}


content .container li{
	margin: 0px 10px 20px 0px;
	margin-inline: 10px;
	display: inline-block;
	vertical-align: top;
	border-radius: 8px;
}

/*До сюда*/





/*Работает2
content .news{
	height: calc(300px + (400 - 300) * ((100vw - 500px) / (1920 - 500)));
	width: auto;
	
	background: rgba(0, 0, 0, 0.1);
	border-radius: 10px;

	padding: 10px calc(5px + (20 - 5) * ((100vw - 500px) / (1920 - 500)));
	
	display: flex;
	justify-content: center;
}

content .cell{
	height: auto;
	width: calc(80px + (400 - 80) * ((100vw - 500px) / (1920 - 500)));
	border-radius: 10px;
	
	padding: calc(0px + (10 - 0) * ((100vw - 500px) / (1920 - 500))) 0px;
	
	display: flex;
	align-items: center;
	flex-direction: column;
}

content .news img{
	height: calc(40px + (200 - 40) * ((100vw - 500px) / (1920 - 500)));
	width:  calc(80px + (400 - 80) * ((100vw - 500px) / (1920 - 500)));	
	border-radius: 10px;	
}

content .line{
	height: 2px;
	width:  calc(80px + (250 - 80) * ((100vw - 500px) / (1920 - 500)));	
	background: white;
	border-radius: 20px;
	margin:10px 0px;
}

content .line2{
	height: 2px;
	width:  calc(80px + (300 - 80) * ((100vw - 500px) / (1920 - 500)));	
	background: white;
	border-radius: 20px;
	margin:10px 0px;
}


content .text_head{
	font-size: calc(8px + (24 - 8) * ((100vw - 500px) / (1920 - 500)));
	font-family: 'Alkatra';
	color: black;
	white-space: normal;
	text-align: center;
}

content .text{
	font-size: calc(8px + (16 - 8) * ((100vw - 500px) / (1920 - 500)));
	font-family: 'Roboto';
	color: rgba(0, 0, 0, 0.76);
	white-space: normal;
	text-align: justify;
}
До сюда*/
